.header {width: 100%;
    height: 100px;
    display: block;
    background-color: #eab676;
    background-position: 0%;
    position: absolute;
	top: 0;
	left: 0;
	    }

.header p {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.content {
    
  
}

.infogrid{
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    row-gap: 1em;

}