.header {width: 100%;
    height: 100px;
    display: block;
    background-color: #eab676;
    background-position: 0%;
    position: absolute;
	top: 0;
	left: 0;
	    }

.header p {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
    text-align: center;
    font-size: xx-large;
}
.hero p {
    font-family: 'Rubik Moonrocks', cursive;
    color: #eab676;
    text-align: center;
    font-size: xx-large;
}


.infogrid{
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    row-gap: 1em;

}

.royimg  {
    margin-top: 2em;
    margin-left: 10em;
    height: 500px;
    width: 350px;
    border-radius: 50%;
    border: 8px solid transparent ;
    background-color: #eab676;
    
    
}


.waltimg  {
    margin-top: 2em;
    margin-left: 8em;
    height: 500px;
    border-radius: 50%;
    border: 8px solid transparent ;
    background-color: #eab676;
    
    
}
.waltimg:hover {
    cursor: pointer;
    transform: scale(1.3);
    z-index: 2;
    -webkit-transition: transform 200ms linear;
    -ms-transition: transform 200ms linear;
    transition: transform 200ms linear;
}
.royimg:hover {
    cursor: pointer;
    transform: scale(1.3);
    z-index: 2;
    -webkit-transition: transform 200ms linear;
    -ms-transition: transform 200ms linear;
    transition: transform 200ms linear;
}

#rname {
    font-family: 'Rubik Moonrocks', cursive;
    color: #eab676;
    text-align: center;
    font-size: xx-large;
}

#rabout {
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    font-size: large;
}

#wname {
    font-family: 'Rubik Moonrocks', cursive;
    color: #eab676;
    text-align: center;
    font-size: xx-large;
}

#wabout {
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    font-size: large;
}

.hide {
    display: none;
}

.show { display: block;
}