.header {width: 100%;
    height: 100px;
    display: block;
    background-color: #eab676;
    background-position: 0%;
    position: absolute;
	top: 0;
	left: 0;
	    }

.header p {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.hero {
    margin: -52px -52px -31.9px -40px;
    background-color: #F3d0a6;

  
}
.hero p {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
    text-align: center;
    font-size: xx-large;
}
.content {background-color: #F3d0a6;
  position: absolute;
	left: 0;}

.infogrid{
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    row-gap: 1em;

}

.royimg  {
    margin-top: 2em;
    margin-left: 10em;
    height: 500px;
    width: 350px;
    border-radius: 50%;
    border: 8px solid transparent ;
    background-color: #eab676;
    
    
}


.waltimg  {
    margin-top: 2em;
    margin-left: 8em;
    height: 500px;
    border-radius: 50%;
    border: 8px solid transparent ;
    background-color: #eab676;
    
    
}

.name {
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.about {
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    font-size: large;
}